.gallery {
    width: 80%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
.gallery-thumbs-container {
    width: 20%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    .thumb {
        padding-bottom: 0.5em;
        padding-left:0.5em;
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    div:last-child {
        padding-bottom: 0em;
    }
}