.card {
    width: 300px;
    height: 492px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    left: 0px;
    top: 80px;
    margin: 1em;
    z-index: 1;
  }
  
  .card-body {
    padding: 0px;
    margin: 1.25em;
    overflow: scroll;
    height: calc(100% - 11em);
  }

  .title {
    padding-top: 1em;
    text-align: center;
  }