<div class="card" *ngIf="file">
  <div class="card-body project-card">
    <div class="details" *ngIf="file.site_name == 'La Pasoda'">
      <!-- <div class="title">{{ file.lat }}</div> -->
      <!-- <div class="desc f10"></div> -->
      <!-- <div class="desc f10"></div> -->

      <div class="f10">
        Nombre del sitio : <span>{{ file.site_name }}</span>
      </div>
      <div class="f10">
        Nombre Avenida : <span>{{ file.avenue_name }}</span>
      </div>
      <div class="f10">
        Clase : <span>{{ file.class }}</span>
      </div>
      <div class="f10">
        Familia : <span class="f12">{{ file.family }}</span>
      </div>
      <div class="f10">
        Nombre común :
        <span class="f12" [innerHTML]="file.common_name"></span>
      </div>
      <div class="f10">
        Distancia a la línea (m) :
        <span class="f12">{{ file.distance_to_line }}</span>
      </div>
      <div class="f10">
        Altura (m) : <span class="f12">{{ file.height }}</span>
      </div>
      <div class="f10">
        Mayor severidad : <span class="f12">{{ file.severity }}</span>
      </div>
      <div class="f10">
        Porcentaje de árbol proyectado a caer : <span class="f12"></span>
      </div>
      <div class="f10">
        Impacto : <span class="f12">{{ file.impact }}</span>
      </div>
      <div class="f10">
        Magnitud : <span class="f12">{{ file.magnitude }}</span>
      </div>
      <div class="f10">
        Criticidad RMA33 :
        <span class="f12">{{ file.rma33_critically }}</span>
      </div>
      <div class="f10">
        Criticidad RMA34 :
        <span class="f12">{{ file.rma34_critically }}</span>
      </div>
      <div class="f10">
        Crecimiento del arbol :
        <span class="f12">{{ file.growth_rate }}</span>
      </div>
      <div class="f10">
        Estado de salud del árbol :
        <span class="f12">{{ file.tree_health_status }}</span>
      </div>
      <div class="f10">
        Dirección postal : <span class="f12">{{ file.postal_address }}</span>
      </div>
      <div class="f10">
        Predio : <span class="f12">{{ file.estate }}</span>
      </div>
      <div class="f10">
        Fecha inspección LiDAR :
        <span class="f12">{{ file.close_inspectio_lidar }}</span>
      </div>
      <div class="f10">
        Nivel de Tensión : <span class="f12">{{ file.tension_level }}</span>
      </div>
      <div class="f10">
        Tipo de red : <span class="f12">{{ file.network_type }}</span>
      </div>
      <div class="f10">
        NUMPOS Equipo cercano : <span class="f12">{{ file.numpos }}</span>
      </div>
      <div class="f10">
        Comuna : <span class="f12">{{ file.common }}</span>
      </div>
      <div class="f10">
        Magnitud de Riesgo :
        <span class="f12">{{ file.magnitude_of_risk }}</span>
      </div>
      <div class="f10">
        Clasificación de Riesgo (sin Sanidad) :
        <span class="f12">{{ file.risk_classification_wo_health }}</span>
      </div>
      <div class="f10">
        Magnitud con Sanidad :
        <span class="f12">{{ file.magnitude_with_health }}</span>
      </div>
      <div class="f10">
        Clasificación de Riesgo (con efectoSanidad) :
        <span class="f12">{{ file.risk_classification_w_health }}</span>
      </div>
    </div>
    <div class="details" *ngIf="file.site_name == 'Algarrobal'">
      <div class="f10">
        Nombre del sitio : <span>{{ file.site_name }}</span>
      </div>
      <div class="f10">
        Nombre Avenida : <span>{{ file.avenue_name }}</span>
      </div>
      <div class="f10">
        DESC_Fase_Conductor : <span>{{ file.desc_driver_phase }}</span>
      </div>
      <div class="f10">
        Nombre científico : <span>{{ file.scientific_name }}</span>
      </div>
      <div class="f10">
        Clase : <span>{{ file.class }}</span>
      </div>
      <div class="f10">
        Familia : <span class="f12">{{ file.family }}</span>
      </div>
      <div class="f10">
        Nombre común :
        <span class="f12" [innerHTML]="file.common_name"></span>
      </div>
      <div class="f10">
        Distancia a la línea (m) :
        <span class="f12">{{ file.distance_to_line }}</span>
      </div>
      <div class="f10">
        Altura (m) : <span class="f12">{{ file.height }}</span>
      </div>
      <div class="f10">
        Mayor severidad : <span class="f12">{{ file.severity }}</span>
      </div>
      <div class="f10">
        Porcentaje de árbol proyectado a caer :
        <span class="f12">{{ file.percentage_of_tree_ffile }}</span>
      </div>
      <div class="f10">
        Impacto : <span class="f12">{{ file.impact }}</span>
      </div>
      <div class="f10">
        Magnitud : <span class="f12">{{ file.magnitude }}</span>
      </div>
      <div class="f10">
        Criticidad RMA33 :
        <span class="f12">{{ file.rma33_critically }}</span>
      </div>
      <div class="f10">
        Criticidad RMA34 :
        <span class="f12">{{ file.rma34_critically }}</span>
      </div>
      <div class="f10">
        Crecimiento del arbol :
        <span class="f12">{{ file.growth_rate }}</span>
      </div>
      <div class="f10">
        Estado de salud del árbol :
        <span class="f12">{{ file.tree_health_status }}</span>
      </div>
      <div class="f10">
        Proceso :
        <span class="f12">{{ file.process1 }}</span>
      </div>
      <div class="f10">
        NUMPOS/ Equipo cercano :
        <span class="f12">{{ file.numpos1 }}</span>
      </div>
      <div class="f10">
        Equipo : <span class="f12">{{ file.team1 }}</span>
      </div>
      <div class="f10">
        Distancia (m) : <span class="f12">{{ file.distance1 }}</span>
      </div>
      <div class="f10">
        Proceso : <span class="f12">{{ file.process2 }}</span>
      </div>
      <div class="f10">
        NUMPOS/ Equipo cercano : <span class="f12">{{ file.numpos2 }}</span>
      </div>
      <div class="f10">
        Equipo :
        <span class="f12">{{ file.team2 }}</span>
      </div>
      <div class="f10">
        Distancia (m) :
        <span class="f12">{{ file.distance2 }}</span>
      </div>
      <div class="f10">
        Direccion postal :
        <span class="f12">{{ file.postal_address }}</span>
      </div>
      <div class="f10">
        Comuna :
        <span class="f12">{{ file.common }}</span>
      </div>
      <div class="f10">
        Magnitud de Riesgo :
        <span class="f12">{{ file.magnitude_of_risk }}</span>
      </div>
      <div class="f10">
        Clasificación de Riesgo (sin Sanidad) :
        <span class="f12">{{ file.risk_classification_wo_health }}</span>
      </div>
      <div class="f10">
        Clasificación de Riesgo C /sanidad :
        <span class="f12">{{ file.risk_clarification_c_health }}</span>
      </div>
      <div class="f10">
        ClasifClasificación de Riesgo (con efectoSanidad) :
        <span class="f12">{{ file.risk_classification_w_health }}</span>
      </div>
    </div>
  </div>
</div>
