.card {
  width: 300px;
  height: 392px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 244px;
  margin: 1em;
  z-index: 3;
}

.card-body {
  padding: 0px;
  margin: 1.25em;
  overflow: scroll;
  height: calc(100% - 11em);
}

.title {
  padding-top: 1em;
  text-align: center;
}

.project-card {
  width: auto;
  height: auto;
  padding: 0.8em;
  overflow: visible;
  background: var(--token-20cae466-55b9-49a3-8813-4ba53c026954, #ffffff);
  box-shadow: inset 3px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  cursor: pointer;
  overflow:scroll;
  overflow-x: hidden; 

}
.container {
    width: 100%;
    height:100%;
    overflow: scroll;
}
