.logout {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    margin: 1em;
    padding: .5em 1em;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
}

.logout-icon {
    height: 20px;
    width: auto;
}