<section class="sheet padding-10mm page">
  <article class="report-container">
    <div class="left-background">
      <div class="img-container">
        <img src="../../../assets/icons/aerodyne.png" class="aero-logo" />
        <img src="../../../assets/icons/enel-egp.svg" class="other-logo" />
      </div>
      <div class="severity-container">
        <div class="visual-inspection">
          <div class="description-container">
            <div class="description">Tower</div>
            <div class="description">Good</div>
            <div class="description">Defects</div>
          </div>
          <div class="box-container">
            <div class="box tower">
              <span>10</span>
            </div>
            <div class="box good">
              <span>10</span>
            </div>
            <div class="box defect">
              <span>10</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-background">
      <div class="title-container">
        <div class="center-title">
          <h2>INFRASTRUCTURE ASSET</h2>
          <h2>&</h2>
          <h2>INSPECTION MANAGEMENT</h2>
          <span>Full Report</span>
        </div>
      </div>
      <div class="info-container">
        <div class="info">
          <h5>FEEDER TYPE</h5>
          <h6>100kV TRANSMISSION LINE</h6>
          <h5>INSPECTION TYPE</h5>
          <h6>CONDITION BASED MONITORING (CBM)</h6>
          <h5>INSPECTION DATE</h5>
          <h6>27th & 28th May 2020</h6>
          <h5>PILOT</h5>
          <h6>ASYRAF ARIP</h6>
          <h5>CO-PILOT</h5>
          <h6>JERSIM DANIEL ARAYA</h6>
        </div>
      </div>
    </div>
  </article>
</section>
