.page {
  width: 265mm;
  height: 100%;
  min-height: 346mm;
  margin: auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0.5mm 2mm rgba(0,0,0,.3);
}
.report-container {
  padding: .2cm;
  // border: 5px black solid;
  height: 100%;
  // outline: 2cm #FFEAEA solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  .left-background {
    width: 36%;
    height: 100%;
    // background-color: aqua;
    background-image: url("../../../assets/icons/Check-Out-The-Most-Majestically-Trees-In-The-World-1.jpg");
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    .img-container {
      width: 100%;
      height: 50%;
      display: block;
      justify-content: center;
      align-items: center;
      margin: 1em;
      top: 0;
      z-index: 1;
      .aero-logo {
        height: 213px;
        width: auto;
        margin: 1.5em;
        z-index: 1;
      }
      .other-logo {
        height: 127px;
        width: auto;
        margin: 1.5em;
        z-index: 1;
      }
    }
    .severity-container {
      width: 100%;
      height: 47%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      z-index: 1;
      .visual-inspection {
        display: block;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 150px;
        margin-bottom: 1em;
        .description-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 10px;
          //   background-color: black;
          .description {
            height: 10px;
            width: 40px;
            // rotate: -90;
            color: white;
            // border-color: white;
            // background-color: black;
            transform: rotate(270deg);
            padding-left: 23px;
            padding-bottom: 25px;
          }
          Î .span {
            font-size: 15px;
          }
        }
        .box-container {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: beige;
          border-radius: 15px;

          .box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            margin: 3px;
            border-radius: 10px;
          }
          span {
            color: white;
            font-size: 28px;
            opacity: 1;
          }
          .tower {
            background-color: #304f85;
          }
          .good {
            background-color: #1caa2a;
          }
          .defect {
            background-color: #fdb04a;
          }
        }
      }
    }
  }
  .right-background {
    width: 64%;
    height: 100%;
    // background-color: beige;
    z-index: 0;
    display: block;
    justify-content: center;
    align-items: center;
    .title-container {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .center-title {
        margin-top: 12em;
        h2 {
          text-align: center;
        }
        span {
          font-size: 22px;
        }
      }
    }
    .info-container {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: flex-end;
      .info {
        margin: 2em;
        h6 {
          margin-bottom: 1em;
          text-align: left;
        }
        h5 {
          margin-bottom: 0em;
          text-align: left;
        }
      }
    }
  }
}
