.icon-container {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;

  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.dropdown {
  display: flex;
  /* float: right; */
  margin: 1em;
  margin-top: 5em;
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;

  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.dropdown-content {
  display: none;
  top: 19px;
  position: absolute;
  background-color: #f1f1f1;
  // min-width       : 160px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 16px;
}

.icon-container-download:hover .dropdown-content,
.dropdown:hover .dropdown-content {
  display: block;
}

.icon-container-gallery {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;
  margin-top: 17em;

  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.icon-container-potree {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;
  margin-top: 13em;

  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.icon-container-download {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;
  margin-top: 9em;

  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.active {
  transform: translate(0px, 0px);
  transition: 1s ease-out;
}
.inactive {
  transform: translate(-50px, 0px);
  transition: 1s ease-out;
}

.gallery-thumbs-container {
  width: 100%;
}

.icon-container-seaerch {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 85px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 259px;
  height: 58px;
  margin-top: 21em;
  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}

.icon-container-risk {
  display: flex;
  /* float: right; */
  margin: 1em;
  /* margin-right: 9em; */
  padding: 1em 2em;
  z-index: 0;
  position: absolute;
  top: 90px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 68px;
  height: 58px;
  margin-top: 25em;
  .icon {
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}
.icon-container-risk:hover .risk-box {
  transform: translate(260px, 0px);
  transition: .5s ease-out;
}

.risk-box {
  display: block;
  margin: 1em;
  padding: 0.4em 0.3em;
  z-index: 10;
  position: absolute;
  top: -65px;
  right: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 213px;
  height: 141px;
}
.list-group{
  z-index: 3;
  max-height: 250px;
  margin-bottom: 10px;
  overflow:scroll;
}

.risk1, .risk2{
  text-align: center;
  padding: .5em;
}

.risk-btn {
  margin-bottom: 2px;
}

.dropdown-risk1 {
  display: none;
  top: 0px;
  right: -13px;
  position: absolute;
  background-color: #f1f1f1;
  // min-width       : 160px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 16px;
}

.risk1:hover  .dropdown-risk1, 
.risk2:hover  .dropdown-risk2{
    display: block;
}
.dropdown-risk2 {
  display: none;
  top: 66px;
  right: -13px;
  position: absolute;
  background-color: #f1f1f1;
  // min-width       : 160px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 16px;
}
.list-group-item:only-child {
  display: none;
}
// .filter-search, .icon-x{
//   display: none;
// }

.icon-container-seaerch:hover {
  transform: translate(200px, 0px);
  transition: 1s ease-out;
}