.card {
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 80px;
    left: 0px;
    bottom: 0px;
    margin: 1em;
}

.search-wrapper {
    right: 1em;
    position: absolute;
    top: 5em;
}