<div class="card">
    <div class="card-header">
        <div class="float-right" routerLink="/home"><img style="width: 20px; cursor: pointer;" src="assets/icons/close-cross-symbol-in-a-circle.svg"></div>
    </div>
    <div class="search-wrapper">
        <input type="text"/>
        <img class="ml-1" src="../../../assets/icons/search.svg" width="25px" height="25px">
    </div>
    <div class="card-body">
        <div class="d-flex">
            <button *ngFor="let location of tableData" type="button" class="btn mx-2" [routerLink]="'tableList/' + location.site_id">{{ location.site_name }}</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>