<div class="login">
    <div class="card">
        <div class="card-header">
            <span class="f18 text-green">Login</span>
        </div>
        <div class="card-body">
            <div class="logo mb-4">
                <img src="assets/imgs/enel_group_logo.svg" style="height: 80px; width: auto;">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label class="text-green" for="exampleInputUsername1">Email address</label>
                    <input type="text" formControlName="username" class="form-control" id="exampleInputUsername1" placeholder="Enter Username">
                  </div>
            
                <div class="form-group">
                  <label class="text-green" for="exampleInputPassword1">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-green">Submit</button>
            </form>
        </div>
    </div>
</div>