.card {
    width: 100%;
    margin-top: 1em;
    overflow: scroll;
    line-height: normal;
    height: calc(100% - 180px);
    border: none;
}

.card-header {
    width: max-content;
    padding: 0px !important;
}

.card-body {
    width: max-content;
    height: 500px;
    padding: 0px !important;
}

.bold {
    font-weight: bold;
    border: 1px solid #848787;
}


.Leve {
    background-color: #B7D0A5;
}

.Critico {
    background-color: #E69390;
}

.Bueno {
    background-color: #E4B676;
}

.test {
    height: 200px;
}