<!-- <div class="card" *ngIf="projectID === '1'">
    <div class="card-body">
        <ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns1">
        </ngx-table>
    </div>
</div>

<div class="card" *ngIf="projectID === '2'">
    <ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns2">
    </ngx-table>
</div> -->

<div class="card" *ngIf="projectID === '1'">
  <table datatable [dtOptions]="dtOptions" class="row-border hover test">
    <thead>
      <tr>
        <th class="f10">ID árbol</th>
        <th class="f10">Latitud</th>
        <th class="f10">Longitud</th>
        <th class="f10">Nombre Avenida</th>
        <th class="f10">Nombre científico</th>
        <th class="f10">Clase</th>
        <th class="f10">Familia</th>
        <th class="f10">Nombre común</th>
        <th class="f10">Distancia a la línea (m)</th>
        <th class="f10">Altura (m)</th>
        <th class="f10">Mayor severidad</th>
        <th class="f10">Porcentaje de árbol proyectado a caer</th>
        <th class="f10">Impacto</th>
        <th class="f10">Magnitud</th>
        <th class="f10">Criticidad RMA33</th>
        <th class="f10">Criticidad RMA34</th>
        <th class="f10">Estado de salud del árbol</th>
        <th class="f10">Dirección postal</th>
        <th class="f10">Predio</th>
        <th class="f10">Fecha inspección LiDAR</th>
        <th class="f10">Nivel de Tensión</th>
        <th class="f10">Tipo de red</th>
        <th class="f10">NUMPOS Equipo cercano</th>
        <th class="f10">Comuna</th>
        <th class="f10">Magnitud de Riesgo</th>
        <th class="f10">Clasificación de Riesgo (sin Sanidad)</th>
        <th class="f10">Magnitud con Sanidad</th>
        <th class="f10">Clasificación de Riesgo (con efectoSanidad)</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let list of dataList.file_name"
        [class]="list.severity"
        routerLink="/home"
        [queryParams]="{ site: dataList.site_id, file_name: list.name }"
      >
        <td class="f10">{{ list.name }}</td>
        <td class="f10">{{ list.lat }}</td>
        <td class="f10">{{ list.lng }}</td>
        <td class="f10">{{ list.avenue_name }}</td>
        <td class="f10">{{ list.scientific_name }}</td>
        <td class="f10">{{ list.class }}</td>
        <td class="f10">{{ list.family }}</td>
        <td class="f10" [innerHTML]="list.common_name"></td>
        <td class="f10">{{ list.distance_to_line }}m</td>
        <td class="f10">{{ list.height }}</td>
        <td class="f10">{{ list.severity }}</td>
        <td class="f10">{{ list.percentage_of_tree_fall }}</td>
        <td class="f10">{{ list.impact }}</td>
        <td class="f10">{{ list.magnitude }}</td>
        <td class="f10">{{ list.rma33_critically }}</td>
        <td class="f10">{{ list.rma34_critically }}</td>
        <td class="f10">{{ list.tree_health_status }}</td>
        <td class="f10">{{ list.portal_address }}</td>
        <td class="f10">{{ list.estate }}</td>
        <td class="f10">{{ list.close_inspection_lidar }}</td>
        <td class="f10">{{ list.tension_level }}</td>
        <td class="f10">{{ list.network_type }}</td>
        <td class="f10">{{ list.numpos }}</td>
        <td class="f10">{{ list.common }}</td>
        <td class="f10">{{ list.magnitude_of_risk }}</td>
        <td class="f10">{{ list.risk_classification_wo_health }}</td>
        <td class="f10">{{ list.magnitude_with_health }}</td>
        <td class="f10">{{ list.risk_classification_w_health }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card" *ngIf="projectID === '2'">
  <div class="card-header">
    <div class="d-flex text-center">
      <th>ID árbol</th>
      <th>Latitud</th>
      <th>longitud</th>
      <th>Nombre Avenida</th>
      <th>DESC_FASE/Conductor</th>
      <th>Nombre científico</th>
      <th>Clase</th>
      <th>Familia</th>
      <th>Nombre común</th>
      <th>Distancia a la línea (m)</th>
      <th>Altura (m)</th>
      <th>Mayor severidad</th>
      <th>Porcentaje de árbol proyectado a caer</th>
      <th>Impacto</th>
      <th>Magnitud</th>
      <th>Estado de salud del árbol</th>
      <th>proceso</th>
      <th>NUMPOS/ Equipo cercano</th>
      <th>Equipo</th>
      <th>Distancia (m)</th>
      <th>proceso</th>
      <th>NUMPOS/ Equipo cercano</th>
      <th>Equipo</th>
      <th>Distancia (m)</th>
      <th>Dirección postal</th>
      <th>Comuna</th>
      <th>Magnitud de Riesgo</th>
      <th>Clasificación de Riesgo (sin Sanidad)</th>
      <th>Clasificación de Riesgo C /sanidad</th>
      <th>Clasificación de Riesgo (con efectoSanidad)</th>
    </div>
  </div>
  
  <div class="card-body">
    <div
      class="d-flex text-center"
      style="cursor: pointer"
      *ngFor="let list of dataList.file_name"
      [class]="list.severity"
      routerLink="/home"
      [queryParams]="{ site: dataList.site_id, file_name: list.name }"
    >
      <div class="f12 p-1" style="width: 150px">{{ list.name }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.lat }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.lng }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.avenue_name }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.desc_driver_phase }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.scientific_name }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.class }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.family }}</div>
      <div
        class="f12 p-1"
        style="width: 150px"
        [innerHTML]="list.common_name"
      ></div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.distance_to_line }}m
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.height }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.severity }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.percentage_of_tree_fall }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.impact }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.magnitude }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.tree_health_status }}
      </div>
      <div class="f12 p-1" style="width: 150px">{{ list.process1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.numpos1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.team1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.distance1 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.process2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.numpos2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.team2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.distance2 }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.postal_address }}</div>
      <div class="f12 p-1" style="width: 150px">{{ list.common }}</div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.magnitude_of_risk }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_classification_wo_health }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_clarification_c_health }}
      </div>
      <div class="f12 p-1" style="width: 150px">
        {{ list.risk_classification_w_health }}
      </div>
    </div>
  </div>
</div>
