<div [ngClass]="{ 'active' : testIsActive }">Your internet speed is <span class="speed-figure" [style.color]="getSpeedColor()" [ngClass]="{ 'active' : testIsActive }">{{ currentSpeed }}Mbps</span></div>
