.report {
  width           : 100%;
  // min-height: 297mm;
  height          : 100%;
  padding         : 0;
  background-color: #fafafa;
  overflow        : scroll;

  .page {
    border-radius   : 5px;
    width           : 265mm;
    // height       : 77em;
    // min-height: 81.875em;
    margin          : 10mm auto;

    .report-container {
      border : 0.1em black solid;
      height : 76.53em;
      padding: 0.9em;

      .title-header {
        border-bottom : 0.1em black solid;
        padding-bottom: 0.9em;

        .title {
          font: 1.1em;
        }

        .logo {
          display        : flex;
          justify-content: flex-end;
          align-items    : center;

          img {
            width : auto;
            height: 2.5em;
            margin: 0.5em;
          }
        }
      }

      .title-description {
        border-bottom: 0.1em black solid;
        height       : 2.3em;
        align-items  : center;

        .description {
          border-right   : 0.1px black solid;
          font-size      : 0.7em;
          text-align     : center;
          // padding     : 0;
          padding        : 0.5em;
          height         : -webkit-fill-available;
          contain        : strict;
        }

        .description:last-child {
          border-right: none;
        }

        .legend {
          color     : black;
          font-size : 0.7em;
          text-align: center;
          height    : inherit;
          padding   : 0.9em;
        }

        .legend.description:last-child {
          border-right: none;
        }
      }

      .image-container {
        border-bottom  : 0.1em black solid;
        border-right   : 0.1em black solid;
        display        : flex;
        justify-content: space-around;
        align-items    : center;
        height         : 13.2em;

        img {
          height  : 12em;
          width   : 24em;
          // width: auto;
        }
      }

      .b-bot {
        border-bottom: 0.1em black solid;
      }

      .box-inside {
        border    : 0.1em black solid;
        padding   : 0.5em;
        font-size : 10px;
        text-align: center;
      }

      .red {
        background-color: #eb4f34;
        text-align      : center;
      }

      .orange {
        background-color: #ffad14;
        text-align      : center;
      }

      .green {
        background-color: #24a638;
        text-align      : center;
      }

      .blue {
        background-color: cadetblue;
        text-align      : center;
      }

      .border-empty {
        border-bottom: 0.1em black solid;
        height       : 1.2em;

        .border-child {
          border-bottom: 0.1em black solid;
          height       : 0.2em;
        }
      }

      .border-empty1 {
        height: 1.2em;
      }

      .border-sev {
        // border         : 0.1em black solid;
        border         : none;
        height         : 0.3em;
        width          : 0.3em;
        justify-content: space-around;
        align-items    : center;
        height         : 16.2em;
      }
    }
  }
}

#content {
  display: table;
}

#pageFooter {
  display   : table-footer-group;
  text-align: center;
}

#pageFooter:after {
  counter-increment: section;
  content          : counter(section);
}

@page {
  // size  : 7in 9.25in;
  // margin: 27mm 16mm 27mm 16mm;
  size: A4
}

@media print {
  .report {
    overflow         : visible;
    page-break-before: always;

    .page {
      margin: auto;
    }
  }

}

.Critico {
  background-color: #eb4f34;
}

.Leve {
  background-color: #ffad14;
}

.Bueno {
  background-color: #24a638;
}

.none {
  background-color: transparent;
}

.image-footer {
  display           : flex;
  justify-content   : space-around;
  align-items       : center;
  height            : 10.2em;
  // height         : 13.2em;

  img {
    height  : 8em;
    width   : 24em;
    // width: auto;
  }
}