.logo {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    margin: 1em;
    padding: 0.8em;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
}

.enel-logo {
    height: 30px;
    width: auto;
}

.card {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    margin: 1em;
    padding: 0.5em;
    width: 300px;
    // background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.card-header {
    padding: 0.5em !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.card-body {
    padding: 0.5em !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

img .fade {
    opacity: 0.5;
}
img {
    cursor: pointer;
}