<div class="logo" (click)="home()">
    <img class="enel-logo" src="assets/icons/ene-logo-new.png" >
</div>

<!-- <div class="legend">
    <div class="f12 mr-2 text-center">
        <span class="bold">Severidad de la distancia a la linea</span>
        <div class="d-flex text-center">
            <div class="p-2">
                <span class=""><img src="assets/icons/tree-icon-Bueno@25px.svg"></span>
                <div class="f10">Bueno</div>
                <div class="f10">>5m</div>
            </div>
            <div class="p-2">
                <span><img src="assets/icons/tree-icon-Leve@25px.svg"></span>
                <div class="f10">Leve</div>
                <div class="f10">2.5m - 5m</div>
            </div>
            <div class="p-2">
                <span><img src="assets/icons/tree-icon-Critico@25px.svg"></span>
                <div class="f10">Critico</div>
                <div class="f10">0 - 2.5m</div>
            </div>
        </div>
    </div>   
</div> -->

<div class="card">
    <div class="card-header text-center" (click)="onResetClick()">
        <span class="f12">Severidad de la distancia a la linea</span>
    </div>
    <div class="card-body text-center">
        <div class="d-flex justify-content-center">
            <div class="p-2" (click)="onLegendClick('Good')">
                <span class=""><img src="assets/icons/tree-icon-Bueno@25px.svg" [class.fade]="statusGood=='inactive'"></span>
                <div class="f10">Bueno</div>
                <div class="f10">>5m</div>
            </div>
            <div class="p-2" (click)="onLegendClick('Minor')">
                <span><img src="assets/icons/tree-icon-Leve@25px.svg" [class.fade]="statusMinor=='inactive'"></span>
                <div class="f10">Leve</div>
                <div class="f10">2.5m - 5m</div>
            </div>
            <div class="p-2" (click)="onLegendClick('Critical')">
                <span><img src="assets/icons/tree-icon-Critico@25px.svg" [class.fade]="statusCritical=='inactive'"></span>
                <div class="f10">Critico</div>
                <div class="f10">0 - 2.5m</div>
            </div>
        </div>
    </div>
</div>