
  .card-header {
    border: none;
  }
  
  .header {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: .1em 0;
    justify-content: space-between;
    margin-bottom: .5em;
  }
  
  .action-btn {
    padding: .5em 0;
    display: flex;
    justify-content: center;
  }
  
  .btn-circle:not(:last-child) {
    margin-right: .5em;
  }
            
  .btn-circle {
    border-radius: 2em;
    width: 24px;
    height: 24px;
    font-size: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  i {
    font-weight: bold;
  }

  .bueno {
    background-color: #B7D0A5;
  }

  .leve {
    background-color: #E4B676; 
  }

  .critico {
    background-color: #E69390;
  }
  
  // .content {
  //   // overflow: scroll;
  //   // height: calc(100% - 11em);
  // }

  

.project-card {
    width: 100%;
    height: auto;
    padding: .8em;
    overflow: visible;
    background: var(--token-20cae466-55b9-49a3-8813-4ba53c026954, #ffffff);
    box-shadow: inset 3px 2px 12px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .details {
    width: 100%;
    padding-right: 1em;
  }
  
  .severities-container {
    width: 100%;
    display: flex;
  }

  .teest {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .custom-modal {
    border-radius: 20px;
    width: 100%;
    right:0;

  }

  .btn-primary {
    color: #fff;
    // background-color: #1B9BBB;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .btn-primary:hover {
    color: #fff;
    // background-color: #056881;
  }

  .card {
    border: 0px;
  }

  .card-body {
    border: 1px solid rgba(102, 104, 105, 0.2);
    // background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .card-primary{
    color: #444444;
    border: 1px solid rgba(102, 104, 105, 0.2);
    padding:20px;
    // background-color: #ffffff;
    // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transform: scale(0.9);
  }

  .btn-primary:hover{
    color: black;
    transform: scale(1);
    transition: 0.3s ease-in;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .card-primary:active {
    transform: scale(1);
  }
  .activeCard {
    color: black;
    transform: scale(1);
    border: 1px solid rgba(0, 0, 0, 0);
    // transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .notActiveCard {
    transform: scale(0.9);
    transition: 0.2s ease-in;
  }
  .f8 {
    font-size: 8px;
  }

  .f10 {
    font-size: 10px;
  }

  .f12 {
    // font-size: 12px;
  }