<div class="accordion" id="accordionExample" *ngIf="datas">
  <div *ngFor="let all of datas.file_name; let i = index">
    <div class="m-1" id="heading-{{ i }}">
      <span
        class="btn btn-sm btn-primary w-100"
        [class.leve]="all.severity === 'Leve'"
        [class.bueno]="all.severity === 'Bueno'"
        [class.critico]="all.severity === 'Critico'"
        [class.activeCard]="all.name === activeCard"
        [class.notActiveCard]="all.name != activeCard"
        (click)="onClickPrimaryBtn(all, i)"
        >{{ all.name }}</span
      >
    </div>
    <!-- <div -->
      <!-- [class.show]="trees && all.name === activeCard" -->
      <!-- [class.hide]="trees == undefined" -->
      <!-- class="collapse" -->
    <!-- > -->
      <!-- <div class="project-card"> -->
        <!-- <div class="details" *ngIf="all.site_name == 'La Posada'"> -->
        <!-- <div class="title">{{ all.lat }}</div> -->
        <!-- <div class="desc f10"></div> -->
        <!-- <div class="desc f10"></div> -->
        <!-- 
          <div class="f10">
            Nombre del sitio : <span>{{ all.site_name }}</span>
          </div>
          <div class="f10">
            Nombre Avenida : <span>{{ all.avenue_name }}</span>
          </div>
          <div class="f10">
            Clase : <span>{{ all.class }}</span>
          </div>
          <div class="f10">
            Familia : <span class="f12">{{ all.family }}</span>
          </div>
          <div class="f10">
            Nombre común :
            <span class="f12" [innerHTML]="all.common_name"></span>
          </div>
          <div class="f10">
            Distancia a la línea (m) :
            <span class="f12">{{ all.distance_to_line }}</span>
          </div>
          <div class="f10">
            Altura (m) : <span class="f12">{{ all.height }}</span>
          </div>
          <div class="f10">
            Mayor severidad : <span class="f12">{{ all.severity }}</span>
          </div>
          <div class="f10">
            Porcentaje de árbol proyectado a caer : <span class="f12"></span>
          </div>
          <div class="f10">
            Impacto : <span class="f12">{{ all.impact }}</span>
          </div>
          <div class="f10">
            Magnitud : <span class="f12">{{ all.magnitude }}</span>
          </div>
          <div class="f10">
            Criticidad RMA33 :
            <span class="f12">{{ all.rma33_critically }}</span>
          </div>
          <div class="f10">
            Criticidad RMA34 :
            <span class="f12">{{ all.rma34_critically }}</span>
          </div>
          <div class="f10">
            Estado de salud del árbol :
            <span class="f12">{{ all.tree_health_status }}</span>
          </div>
          <div class="f10">
            Dirección postal : <span class="f12">{{ all.postal_address }}</span>
          </div>
          <div class="f10">
            Predio : <span class="f12">{{ all.estate }}</span>
          </div>
          <div class="f10">
            Fecha inspección LiDAR :
            <span class="f12">{{ all.close_inspectio_lidar }}</span>
          </div>
          <div class="f10">
            Nivel de Tensión : <span class="f12">{{ all.tension_level }}</span>
          </div>
          <div class="f10">
            Tipo de red : <span class="f12">{{ all.network_type }}</span>
          </div>
          <div class="f10">
            NUMPOS Equipo cercano : <span class="f12">{{ all.numpos }}</span>
          </div>
          <div class="f10">
            Comuna : <span class="f12">{{ all.common }}</span>
          </div>
          <div class="f10">
            Magnitud de Riesgo :
            <span class="f12">{{ all.magnitude_of_risk }}</span>
          </div>
          <div class="f10">
            Clasificación de Riesgo (sin Sanidad) :
            <span class="f12">{{ all.risk_classification_wo_health }}</span>
          </div>
          <div class="f10">
            Magnitud con Sanidad :
            <span class="f12">{{ all.magnitude_with_health }}</span>
          </div>
          <div class="f10">
            Clasificación de Riesgo (con efectoSanidad) :
            <span class="f12">{{ all.risk_classification_w_health }}</span>
          </div>
        </div> -->
        <!-- <div class="details" *ngIf="all.site_name == 'Algarrobal'"> -->
        <!-- <div class="f10"> -->
        <!-- Nombre del sitio : <span>{{ all.site_name }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Nombre Avenida : <span>{{ all.avenue_name }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- DESC_Fase_Conductor : <span>{{ all.desc_driver_phase }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Nombre científico : <span>{{ all.scientific_name }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Clase : <span>{{ all.class }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Familia : <span class="f12">{{ all.family }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Nombre común : -->
        <!-- <span class="f12" [innerHTML]="all.common_name"></span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Distancia a la línea (m) : -->
        <!-- <span class="f12">{{ all.distance_to_line }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Altura (m) : <span class="f12">{{ all.height }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Mayor severidad : <span class="f12">{{ all.severity }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Porcentaje de árbol proyectado a caer : -->
        <!-- <span class="f12">{{ all.percentage_of_tree_fall }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Impacto : <span class="f12">{{ all.impact }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Magnitud : <span class="f12">{{ all.magnitude }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Estado de salud del árbol : -->
        <!-- <span class="f12">{{ all.tree_health_status }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Proceso : -->
        <!-- <span class="f12">{{ all.process1 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- NUMPOS/ Equipo cercano : -->
        <!-- <span class="f12">{{ all.numpos1 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Equipo : <span class="f12">{{ all.team1 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Distancia (m) : <span class="f12">{{ all.distance1 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Proceso : <span class="f12">{{ all.process2 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- NUMPOS/ Equipo cercano : <span class="f12">{{ all.numpos2 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Equipo : -->
        <!-- <span class="f12">{{ all.team2 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Distancia (m) : -->
        <!-- <span class="f12">{{ all.distance2 }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Direccion postal : -->
        <!-- <span class="f12">{{ all.postal_address }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Comuna : -->
        <!-- <span class="f12">{{ all.common }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Magnitud de Riesgo : -->
        <!-- <span class="f12">{{ all.magnitude_of_risk }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Clasificación de Riesgo (sin Sanidad) : -->
        <!-- <span class="f12">{{ all.risk_classification_wo_health }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- Clasificación de Riesgo C /sanidad : -->
        <!-- <span class="f12">{{ all.risk_clarification_c_health }}</span> -->
        <!-- </div> -->
        <!-- <div class="f10"> -->
        <!-- ClasifClasificación de Riesgo (con efectoSanidad) : -->
        <!-- <span class="f12">{{ all.risk_classification_w_health }}</span> -->
        <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="card" *ngIf="!datas && !trees">
  <div class="card-body">
    <h5>Enel Lidar Inspection</h5>
    <div class="f8">Inspection Date: 5/10/2020</div>
  </div>
  <div class="card-body mt-2">
    <div class="f12">Inspection (LIDAR)</div>
    <div class="f10">Inspection Distance : <span class="f12">25km</span></div>
    <div class="f10">
      Inpection Type : <span class="f12">Right-of-Way</span>
    </div>
    <div class="f10">Pilot : <span class="f12">Jersim Daniel Araya</span></div>
  </div>
</div>
